# Istall for wsgi
django==4.1.3
# Istall for check code
black==22.10.0
flake8==5.0.4
pyupgrade==3.2.2
pre-commit==2.20.0
# Install for fake greetings
faker==15.3.2
# Install for query
webargs==8.2.0

# Install for .env file
django-environ==0.9.0

# Istall for postgres
psycopg2-binary==2.9.5

# Crispy crasher))
crispy-bootstrap5==0.7

# For images in Django
pillow==9.3.0